h1{
    font-size: 35px;
}

body{
    background-color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#weatherapp{
    display: grid;
    grid-auto-rows: minmax(60px, auto);
    color: black;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder{
    text-align: center;
    font-size: 25px;
}

.zipcode{
    display: grid;
    justify-items: center;
}

.feeling{
    display: grid;
    justify-items: center;
}

button{
    width: 250px;
    height: 50px;
    margin-top: 10px;
    background: #7181a5;
    color: #424242;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: 5px;
    box-shadow: 2px 4px 5px rgb(62, 75, 116);
}