h1{
    font-size: 50px;
    text-align: center;
}

body{
    background-color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


input{
    display: block;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

button{
    width: 250px;
    height: 50px;
    margin-top: 10px;
    background: #7e95ca;
    color: #2b2b2b;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border-color: #83939c;
    box-shadow: 2px 4px 5px rgb(62, 75, 116);
}

textarea{
    margin-top: 20px;
    display: block;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

#app{
    display: grid;
    grid-auto-rows: minmax(auto, auto);
    justify-content: center;
    grid-gap: 1em;
    font-family: 'Oswald', sans-serif;
}

#entryHolder{
    display: inline-flex;
    justify-content: space-around;
}

#date{
    font-size: 16px;
}

#temp{
    font-size: 16px;
}

#content{
    font-size: 16px;
}

.holder{
    font-size: 25px;
}

.zip{
    height: inherit;
    width: auto;
    display: grid;
    justify-items: center;
}

.feel{
    height: inherit;
    width: auto;
    display: grid;
    justify-items: center;
}

.title{
    text-align: center;
    height: inherit;
    width: auto;
}

.entry{
    display: grid;
    grid-auto-rows: inherit;
    width: auto;
    height: max-content;
    background: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}
